<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/resource/layui/css/layui.css"  media="all">
    <script src="/resource/layui/layui.js" charset="utf-8"></script>
    <script src="/resource/jquery-3.3.1/jquery-3.3.1.min.js" charset="utf-8"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" th:fragment="layui-header">
        <div class="layui-logo">Spring Boot Demo</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">标签页1</a></li>
            <li class="layui-nav-item"><a href="">标签页1</a></li>
            <li class="layui-nav-item"><a href="">标签页1</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="loginOut">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black" th:fragment="layui-menu">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;" class="layui-icon layui-icon-home" lay-tips="主页" lay-direction="2">主页</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/index">Job管理</a>
                            <!--<dl class="layui-nav-child">-->
                                <!--<dd><a href="">三级菜单</a></dd>-->
                                <!--<dd><a href="">三级菜单</a></dd>-->
                                <!--<dd><a href="">三级菜单</a></dd>-->
                            <!--</dl>-->
                        </dd>
                        <dd><a href="/file/list">文件管理</a></dd>
                        <dd><a href="javascript:;">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-footer" th:fragment="layui-footer">
        © layui.com - 底部固定区域
    </div>
</div>
</body>
<script>
    layui.use('element', function () {
        var element = layui.element;
    })
</script>
</html>